.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.btn-group a {
  text-decoration: none;
}
